.title {
    position: absolute;
    top: 16.5vh;
    left: 50%;
    transform: translateX(-50%);
}

.splash {
    position: absolute;
    bottom: 0;
}

.logo {
    position: absolute;
    bottom: 16.5vh;
    left: 50%;
    transform: translateX(-50%);
}